.basket-card {
	position: relative;
	display: flex;

	&__img {
		flex-shrink: 0;
		width: 100px;
		height: 100px;
		margin-right: 12px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__name {
		width: 160px;
		min-height: 32px;
		margin-top: 0;
		margin-bottom: 15px;
		font-size: 14px;
		line-height: 16px;
	}

	&__summ-wrap {
		display: flex;
		align-items: center;
	}

	&__summ {
		margin-left: 25px;
	}

	&__close {
		position: absolute;
		top: 0;
		right: 0;
		width: 18px;
		height: 18px;
		border: none;
		background-color: transparent;
		color: $color-very-light-grey;
		transition: color $trans-default;
		cursor: pointer;

		&:hover {
			color: $color-сomet;
		}
	}
}
