$default-transition-duration: 0.3s;
$default-transition-function: ease-out;
$trans-default: $default-transition-duration $default-transition-function;

$color-black: #000000;
$color-white: #ffffff;
$color-very-light-grey: #cfcfcf;
$color-royal-blue: #3366ff;
$color-whisper: #e5e5e5;
$color-manatee: #8e90a6;
$color-light-grey: #d5d5d5;
$color-сomet: #555770;
$color-gainsboro: #dbdbdb;
$color-suva-grey: #8c8c8c;
